<?xml version="1.0" encoding="UTF-8"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
         http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
  <responseDate>${now()}</responseDate>
  <request verb="Identify">${identify.baseRUL}</request>
  <Identify>
    <repositoryName>${identify.repositoryName}</repositoryName>
    <baseURL>${identify.baseRUL}</baseURL>
    <protocolVersion>${identify.protocolVersion}</protocolVersion>
    <adminEmail>${identify.adminEmail}</adminEmail>
    <earliestDatestamp>${identify.earliestDatestamp}</earliestDatestamp>
    <deletedRecord>${identify.deletedRecord}</deletedRecord>
    <granularity>${identify.granularity}</granularity>
    
    <description>
      <oai-identifier 
        xmlns="http://www.openarchives.org/OAI/2.0/oai-identifier"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation=
            "http://www.openarchives.org/OAI/2.0/oai-identifier
        http://www.openarchives.org/OAI/2.0/oai-identifier.xsd">
        <scheme>oai</scheme>
        <repositoryIdentifier>${identify.repositoryIdentifier}</repositoryIdentifier>
        <delimiter>:</delimiter>
        <sampleIdentifier>${identify.sampleIdentifier}</sampleIdentifier>
      </oai-identifier>
    </description>
    
 </Identify>
</OAI-PMH>
