<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
    http://www.directwebremoting.org/schema/spring-dwr  
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd" 
    default-autowire="no">

	

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
		<list>
		 	<value>classpath:jdbc.properties</value>
			<value>classpath:top.properties</value>
		</list>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="minPoolSize" value="5" />
		<!-- reduce to expose connection leak problem, if any
		     property name="maxPoolSize" value="100" /-->
		<property name="maxPoolSize" value="10" />
		<property name="initialPoolSize" value="6" />
		<property name="maxIdleTime" value="3600" />
		<!--property name="maxIdleTime" value="9000" /-->
		<property name="maxConnectionAge" value="18000" />
		<property name="idleConnectionTestPeriod" value="300" />
		<property name="maxIdleTimeExcessConnections" value="300" />
		<property name="maxStatementsPerConnection" value="100" />
		<property name="numHelperThreads" value="5" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<!-- Need this to update the schema, otherwise another schema might be used -->
				<!-- prop key="hibernate.default_schema">TBASE2</prop-->
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- A parent bean definition which is a base definition for transaction proxies.
		- The attributes can still be overridden in child bean definitions.
	-->
	<bean id="baseTransactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="generate*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="store*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="replace*">PROPAGATION_REQUIRED</prop>
				<prop key="move*">PROPAGATION_REQUIRED</prop>

				<!--prop key="*">PROPAGATION_REQUIRED,readOnly</prop-->
			</props>
		</property>
		<!--
			<property name="postInterceptors">
			<list>
			<ref bean="emailAdvisor"/>
			</list>
			</property>
		-->
	</bean>

	<!-- DAO objects -->
	<!-- DAO package: org.cipres.treebase.dao.admin -->
	<bean id="personHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.admin.PersonHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.admin.PersonDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>
	
	<bean id="helpHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.admin.HelpHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.admin.HelpDAO">
				<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		</property>
	</bean>
	
	<bean id="userHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.admin.UserHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.admin.UserDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>
	
	<!-- DAO package: org.cipres.treebase.dao.matrix -->
	<bean id="characterHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.CharacterHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.CharacterDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="itemDefinitionHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.ItemDefinitionHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.ItemDefinitionDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="matrixHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.MatrixHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.MatrixDAO">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="matrixColumnHome" ref="matrixColumnHome" />
				<property name="matrixRowHome" ref="matrixRowHome" />
				<property name="submissionHome" ref="submissionHome" />
				<property name="analyzedDataHome" ref="analyzedDataHome" />
			</bean>
		</property>
	</bean>

	<bean id="matrixColumnHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.MatrixColumnHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.MatrixColumnDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="matrixDataTypeHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.MatrixDataTypeHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.MatrixDataTypeDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="matrixElementHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.MatrixElementHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.MatrixElementDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="matrixRowHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.MatrixRowHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.MatrixRowDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="rowSegmentHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.matrix.RowSegmentHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.matrix.RowSegmentDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<!-- DAO package: org.cipres.treebase.dao.study -->
	<bean id="algorithmHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.AlgorithmHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.AlgorithmDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="analysisHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.AnalysisHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.AnalysisDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="analysisStepHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.AnalysisStepHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.AnalysisStepDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="analyzedDataHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.AnalyzedDataHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.AnalyzedDataDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="citationHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.CitationHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.CitationDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="citationStatusHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.CitationStatusHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.CitationStatusDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="studyHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.StudyHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.StudyDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>
	
	<bean id="studyStatusHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.StudyStatusHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.StudyStatusDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>
	
	<bean id="submissionHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.study.SubmissionHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.study.SubmissionDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>

	<!-- DAO package: org.cipres.treebase.dao.taxon -->
	<bean id="taxonHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.taxon.TaxonHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.taxon.TaxonDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>
	
	<bean id="taxonLabelHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.taxon.TaxonLabelHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.taxon.TaxonLabelDAO">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
	</bean>
	
	<!-- DAO package: org.cipres.treebase.dao.tree -->
	<bean id="phyloTreeHome" parent="baseTransactionProxy">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.domain.tree.PhyloTreeHome</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.dao.tree.PhyloTreeDAO">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="submissionHome" ref="submissionHome" />
				<property name="analyzedDataHome" ref="analyzedDataHome" />
				<property name="taxonLabelHome" ref="taxonLabelHome" />
			</bean>
		</property>
	</bean>
	

</beans>
