<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
			   http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
			   http://www.directwebremoting.org/schema/spring-dwr  
			   http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd" 
       default-autowire="no">

	
   <bean id="baseUtilityTransactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager" />
	    <!-- property name="proxyTargetClass" value="false"/-->
		
		
		<property name="transactionAttributes">
			<props>
				<prop key="do*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
		
	</bean>
	
	<bean id="baseUtility"
		abstract="true" parent="baseUtilityTransactionProxy">
		
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.Standalone</value>
		</property>
	</bean>	
	
	<bean id="deleteTree" parent="baseUtility">
		<property name="target">
			<bean class="org.cipres.treebase.util.DeleteTree">
					<property name="sessionFactory" ref="sessionFactory"/>
			</bean>
		</property>
	</bean>
	
	<bean id="whatsMissing" parent="baseUtility">
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.WhatsMissingInterface</value>
		</property>
		<property name="target">
			<bean class="org.cipres.treebase.util.WhatsMissing">
					<property name="sessionFactory" ref="sessionFactory"/>
			</bean>
		</property>
	</bean>
	
	<bean id="auxiliaryDataImporter" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.AuxiliaryDataImporter">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.AuxiliaryDataImporterInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
			</props>
		</property>
	</bean>

	<!-- Plugin actions for auxiliaryDataImporter 
	  	
	  -->

	<bean id="commitStudyAction" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.auxdata.CommitStudy">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="merge" ref="mergeDuplicateTaxonLabels" />
				<property name="rtls" ref="regenerateTaxonLabelSets" />
				<property name="addMetaData" ref="addMetaDataAction" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.auxdata.CompleteStudyAction</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="perform">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="addMetaDataAction" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.auxdata.AddMetaDataAction">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="matrixService" ref="matrixService"/>
				<property name="treeService" ref="phyloTreeService"/>
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.auxdata.CompleteStudyAction</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="perform">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="checkMatrixNCharsAction" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.auxdata.CheckMatrixNChars">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="matrixService" ref="matrixService"/>
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.auxdata.CompleteStudyAction</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="perform">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="treeStudyMappingAction" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.auxdata.TreeStudyMapping">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.auxdata.CompleteStudyAction</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="perform">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<!-- end of parser actions
	  
	  -->
	  
	  
	<bean id="mergeDuplicateTaxa" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.MergeDuplicateTaxa">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.MergeDuplicateTaxaInterface</value>
		</property>		
	</bean>

	<bean id="regenerateTaxonLabelSets" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.RegenerateTaxonLabelSets">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="tlService" ref="taxonLabelService" />
				<property name="tlHome" ref="taxonLabelHome" />
				<property name="studyService" ref="studyService" />
				<property name="studyHome" ref="studyHome" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.RegenerateTaxonLabelSetsInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="buildTaxonLabelSets">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="mergeDuplicateTaxonLabels" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.MergeDuplicateTaxonLabels">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="taxonLabelHome" ref="taxonLabelHome" />
				<property name="treeHome" ref="phyloTreeHome" />
				<property name="studyHome" ref="studyHome" />
				<property name="matrixRowHome" ref="matrixRowHome" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.MergeDuplicateTaxonLabelsInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="remapStudyTaxonLabels">PROPAGATION_REQUIRED</prop>
				<prop key="remapPhyloTreeTaxonLabels">PROPAGATION_REQUIRED</prop>	
				<prop key="remapTaxonLabelSetTaxonLabels">PROPAGATION_REQUIRED</prop>	
				<prop key="remapMatrixTaxonLabels">PROPAGATION_REQUIRED</prop>	
				<prop key="splitStudyTaxonLabels">PROPAGATION_REQUIRED</prop>
				
<!--				<prop key="destroyUnusedTaxonlabels">PROPAGATION_REQUIRED</prop> --> 
<!--				<prop key="remapTaxonLabelSetTaxonLabels">PROPAGATION_REQUIRED</prop> -->
			</props>
		</property>
	</bean>


	<bean id="citationDataImporter" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.CitationDataImporter">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="personHome" ref="personHome" />
				<property name="studyService" ref="studyService" />
				<property name="citationService" ref="citationService" />
				<property name="citationHome" ref="citationHome" />
				<property name="citationStatusHome" ref="citationStatusHome" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.CitationDataImporterInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="processCitationFile">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="annotateTree" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.AnnotateTree">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="treeService" ref="phyloTreeService" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.AnnotateTreeInterface</value>
		</property>
        <property name="transactionAttributes">
			<props>
				<prop key="annotateTree">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	

	<bean id="deleteObject" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.DeleteObject">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.DeleteObjectInterface</value>
		</property>		
	</bean>


	<bean id="bulkUpload" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.BulkUpload">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.BulkUploadInterface</value>
		</property>
		<!--property name="transactionAttributes">
			<props>
				<prop key="addFilesSimple">PROPAGATION_REQUIRED</prop>
			</props>
		</property-->
	</bean>
	
	<bean id="createTaxon" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.CreateTaxon">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="taxonHome" ref="taxonHome" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.CreateTaxonInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="createTaxon">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="createTaxonVariant" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.CreateTaxonVariant">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="taxonHome" ref="taxonHome" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.CreateTaxonVariantInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="createTaxonVariant">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="loadTaxonData" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.LoadTaxonData">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="taxonHome" ref="taxonHome" />
				<property name="taxonLabelHome" ref="taxonLabelHome" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.LoadTaxonDataInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="buildTaxa">PROPAGATION_REQUIRED</prop>
				<prop key="buildTaxonVariants">PROPAGATION_REQUIRED</prop>
				<prop key="linkTaxonLabels">PROPAGATION_REQUIRED</prop>
				<prop key="populateTaxaLegacyIDs">PROPAGATION_REQUIRED</prop>
				<prop key="check*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="knownTaxon*">PROPAGATION_REQUIRED,readOnly</prop>	
			</props>
		</property>
	</bean>
	
	<bean id="setMatrixNChar" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.SetMatrixNChar">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.SetMatrixNCharInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="setMatrixNChar">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="setTreeNChar" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.SetTreeNChar">
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.SetTreeNCharInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="setTreeNChar">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
		
	<bean id="rawNexusImporter" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.RawNexusImporter">
				<property name="sessionFactory" ref="sessionFactory" />
				<property name="matrixHome" ref="matrixHome" />
				<property name="phyloTreeHome" ref="phyloTreeHome" />
            </bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.RawNexusImporterInterface</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="doFile">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="trivial" parent="baseUtilityTransactionProxy">
		<property name="target">
			<bean class="org.cipres.treebase.util.Trivial">
				<property name="sessionFactory" ref="sessionFactory" />
                        </bean>
		</property>
		<property name="proxyInterfaces">
			<value>org.cipres.treebase.util.Standalone</value>
		</property>
	</bean>
	
</beans>

