<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- NOTE: only used for updating tables in TBASE2 schema during dev -->
		<!--property name="hibernate.default_schema">TBASE2</property-->

		<!-- cache -->
		<property name="hibernate.cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</property>
		<property name="hibernate.cache.use_query_cache">true</property>
	
		<!-- Other settings -->
		<property name="hibernate.jdbc.use_streams_for_binary">true</property>
		<property name="hibernate.jdbc.batch_versioned_data">true</property>
		<property name="hibernate.jdbc.batch_size">40</property>
		<property name="hibernate.max_fetch_depth">3</property>
		<property name="hibernate.default_batch_fetch_size">8</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.connection.release_mode">auto</property>
		<property name="hibernate.query.substitutions">true 'T', false 'F'</property>

		<!-- Mapping files use annotation -->
		<!-- mapping package="org.cipres.treebase.domain" /-->
		<mapping class="org.cipres.treebase.domain.AbstractPersistedObject" />

		<!-- mapping package="org.cipres.treebase.domain.admin" /-->
		<mapping class="org.cipres.treebase.domain.admin.Help" />
		<mapping class="org.cipres.treebase.domain.admin.Person" />
		<mapping class="org.cipres.treebase.domain.admin.User" />
		<mapping class="org.cipres.treebase.domain.admin.UserRole" />
		<mapping class="org.cipres.treebase.domain.admin.EmailAddress" />

		<mapping class="org.cipres.treebase.domain.matrix.AncestralState" />
		<mapping class="org.cipres.treebase.domain.matrix.AncStateSet" />
		<mapping class="org.cipres.treebase.domain.matrix.CharacterMatrix" />
		<mapping class="org.cipres.treebase.domain.matrix.CharGroup" />
		<mapping class="org.cipres.treebase.domain.matrix.CharPartition" />
		<mapping class="org.cipres.treebase.domain.matrix.CharSet" />
		<mapping class="org.cipres.treebase.domain.matrix.CharWeight" />
		<mapping class="org.cipres.treebase.domain.matrix.CharWeightSet" />
		<mapping class="org.cipres.treebase.domain.matrix.ColumnRange" />
		<mapping class="org.cipres.treebase.domain.matrix.CompoundMatrixElement" />
		<mapping class="org.cipres.treebase.domain.matrix.CodonPositionSet" />
		<mapping class="org.cipres.treebase.domain.matrix.ContinuousAncState" />
		<mapping class="org.cipres.treebase.domain.matrix.ContinuousChar" />
		<mapping class="org.cipres.treebase.domain.matrix.ContinuousMatrix" />
		<mapping class="org.cipres.treebase.domain.matrix.ContinuousMatrixElement" />
		<mapping class="org.cipres.treebase.domain.matrix.CSTree" />
		<mapping class="org.cipres.treebase.domain.matrix.CSTreeNode" />
		<mapping class="org.cipres.treebase.domain.matrix.DiscreteAncState" />
		<mapping class="org.cipres.treebase.domain.matrix.DiscreteChar" />
		<mapping class="org.cipres.treebase.domain.matrix.DiscreteCharState" />
		<mapping class="org.cipres.treebase.domain.matrix.DiscreteMatrix" />
		<mapping class="org.cipres.treebase.domain.matrix.DiscreteMatrixElement" />
		<mapping class="org.cipres.treebase.domain.matrix.DistanceMatrix" />
		<mapping class="org.cipres.treebase.domain.matrix.DistanceMatrixElement" />
		<mapping class="org.cipres.treebase.domain.matrix.ExcludedCharSet" />
		<mapping class="org.cipres.treebase.domain.matrix.GapMode" />
		<mapping class="org.cipres.treebase.domain.matrix.GeneticCode" />
		<mapping class="org.cipres.treebase.domain.matrix.GeneticCodeRecord" />
		<mapping class="org.cipres.treebase.domain.matrix.GeneticCodeSet" />
		<mapping class="org.cipres.treebase.domain.matrix.IntegerCharWeight" />
		<mapping class="org.cipres.treebase.domain.matrix.ItemDefinition" />
		<mapping class="org.cipres.treebase.domain.matrix.ItemValue" />
		<mapping class="org.cipres.treebase.domain.matrix.Matrix" />
		<mapping class="org.cipres.treebase.domain.matrix.MatrixColumn" />
		<mapping class="org.cipres.treebase.domain.matrix.MatrixDataType" />
		<mapping class="org.cipres.treebase.domain.matrix.MatrixElement" />
		<mapping class="org.cipres.treebase.domain.matrix.MatrixKind" />
		<mapping class="org.cipres.treebase.domain.matrix.MatrixRow" />
		<mapping class="org.cipres.treebase.domain.matrix.PhyloChar" />
		<mapping class="org.cipres.treebase.domain.matrix.PolyTCount" />
		<mapping class="org.cipres.treebase.domain.matrix.PredefinedCharSet" />
		<mapping class="org.cipres.treebase.domain.matrix.PredefinedCharType" />
		<mapping class="org.cipres.treebase.domain.matrix.RealCharWeight" />
		<mapping class="org.cipres.treebase.domain.matrix.RowSegment" />
		<mapping class="org.cipres.treebase.domain.matrix.SequenceMatrix" />
		<mapping class="org.cipres.treebase.domain.matrix.StandardMatrix" />
		<mapping class="org.cipres.treebase.domain.matrix.StateChangeSet" />
		<mapping class="org.cipres.treebase.domain.matrix.StateFormat" />
		<mapping class="org.cipres.treebase.domain.matrix.StateModifier" />
		<mapping class="org.cipres.treebase.domain.matrix.StateSet" />
		<mapping class="org.cipres.treebase.domain.matrix.StepMatrix" />
		<mapping class="org.cipres.treebase.domain.matrix.StepMatrixElement" />
		<mapping class="org.cipres.treebase.domain.matrix.TypeSet" />
		<mapping class="org.cipres.treebase.domain.matrix.UserDefinedCharSet" />
		<mapping class="org.cipres.treebase.domain.matrix.UserType" />
		<mapping class="org.cipres.treebase.domain.matrix.UserTypeRecord" />

		<mapping class="org.cipres.treebase.domain.study.Algorithm" />
		<mapping class="org.cipres.treebase.domain.study.Analysis" />
		<mapping class="org.cipres.treebase.domain.study.AnalysisStep" />
		<mapping class="org.cipres.treebase.domain.study.AnalyzedData" />
		<mapping class="org.cipres.treebase.domain.study.AnalyzedMatrix" />
		<mapping class="org.cipres.treebase.domain.study.AnalyzedTree" />
		<mapping class="org.cipres.treebase.domain.study.ArticleCitation" />
		<mapping class="org.cipres.treebase.domain.study.BookCitation" />
		<mapping class="org.cipres.treebase.domain.study.Citation" />
		<mapping class="org.cipres.treebase.domain.study.CitationStatus" />
		<mapping class="org.cipres.treebase.domain.study.DistanceAlgorithm" />
		<mapping class="org.cipres.treebase.domain.study.InBookCitation" />
		<mapping class="org.cipres.treebase.domain.study.LikelihoodAlgorithm" />
		<mapping class="org.cipres.treebase.domain.study.OtherAlgorithm" />
		<mapping class="org.cipres.treebase.domain.study.ParsimonyAlgorithm" />
		<mapping class="org.cipres.treebase.domain.study.Software" />
		<mapping class="org.cipres.treebase.domain.study.Study" />
		<mapping class="org.cipres.treebase.domain.study.StudyStatus" />
		<mapping class="org.cipres.treebase.domain.study.Submission" />
	
		<mapping class="org.cipres.treebase.domain.taxon.LSIDTaxonLink" />
		<mapping class="org.cipres.treebase.domain.taxon.SpecimenLabel" />
		<mapping class="org.cipres.treebase.domain.taxon.Taxon" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonAuthority" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonLabel" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonLabelGroup" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonLabelPartition" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonLabelSet" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonLink" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonSet" />
		<mapping class="org.cipres.treebase.domain.taxon.TaxonVariant" />
		<mapping class="org.cipres.treebase.domain.taxon.TextTaxonLink" />

		<mapping class="org.cipres.treebase.domain.tree.PhyloTreeNode" />
		<mapping class="org.cipres.treebase.domain.tree.NodeAttribute" />
		<mapping class="org.cipres.treebase.domain.tree.PhyloTree" />
		<mapping class="org.cipres.treebase.domain.tree.TreeAttribute" />
		<mapping class="org.cipres.treebase.domain.tree.TreeBlock" />
		<mapping class="org.cipres.treebase.domain.tree.TreeGroup" />
		<mapping class="org.cipres.treebase.domain.tree.TreeKind" />
		<mapping class="org.cipres.treebase.domain.tree.TreeNodeEdge" />
		<mapping class="org.cipres.treebase.domain.tree.TreePartition" />
		<mapping class="org.cipres.treebase.domain.tree.TreeQuality" />
		<mapping class="org.cipres.treebase.domain.tree.TreeSet" />
		<mapping class="org.cipres.treebase.domain.tree.TreeType" />

	</session-factory>
</hibernate-configuration>