<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- BEGIN APPENDER: CONSOLE APPENDER (stdout) -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.TTCCLayout"/>
	</appender>

	<!-- BEGIN APPENDER: SOCKET APPENDER (socketLogger) -->
	<appender name="socketLogger" class="org.apache.log4j.SocketAppender">
		<param name="RemoteHost" value="localhost"/>
		<param name="Port" value="4445"/>
		<param name="LocationInfo" value="true"/>
	</appender>

	<!-- BEGIN APPENDER: ROLLING FILE APPENDER (rolling) -->
	<appender name="rolling" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="treebase.log"/>
		<param name="MaxFileSize" value="900KB"/>
		<param name="MaxBackupIndex" value="9"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-17c{2} (%30F:%L) %3x - %m%n"/>
		</layout>
	</appender>

	<!-- BEGIN APPENDER: LogFactor5 APPENDER (lf5) -->
	<appender name="lf5" class="org.apache.log4j.lf5.LF5Appender">
		<param name="MaxNumberOfRecords" value="1000"/>
	</appender>

	<!-- BEGIN APPENDER: xml file -->
	<appender name="xml" class="org.apache.log4j.FileAppender">
		<param name="File" value="treebase_xml.log"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.xml.XMLLayout"/>
	</appender>

	<!-- BEGIN customized logger configurations -->
	<!-- LEVELS: trace, debug, info, warn, error, fatal -->
	<logger name="org.cipres.treebase">
		<level value="debug"/>
		<!--level value="info"/-->
	</logger>	

	<logger name="org.springframework">
		<level value="warn"/>
	</logger>

 	<!-- show SQL statement -->
	<!--logger name="org.hibernate.SQL">
		<level value="debug"/>
	</logger-->

 	<!-- show jdbc -->
	<!--logger name="org.hibernate.jdbc">
		<level value="debug"/>
	</logger-->

 	<!-- show sessionImpl logging -->
	<!--logger name="org.hibernate.impl.SessionImpl">
		<level value="trace"/>
	</logger-->

 	<!-- show parameter binding statement -->
	<!--logger name="org.hibernate.type">
		<level value="debug"/>
	</logger-->

	<!-- show entity state (max 20) when flushing -->
	<!-- logger name="org.hibernate.pretty">
		<level value="debug"/>
	</logger-->

	<!-- 2nd level cache activity -->
	<logger name="org.hibernate.cache">
		<level value="warn"/>
	</logger>

	<!--logger name="org.hibernate.tool.hbm2ddl">
		<level value="debug"/>
	</logger-->

	<!--logger name="org.hibernate.transaction">
		<level value="debug"/>
	</logger-->

	<!--logger name="org.hibernate">
		<level value="info"/>
	</logger-->
	
	<logger name="org.cipres.treebase.web.controllers.ListSubmissionController">
		<level value="info"/>
	</logger>

	<!-- unless specified otherwise, the level for all loggers is warn, and the following appenders are used. -->
	<root>
		<level value="warn"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="rolling"/>
		<!--appender-ref ref="lf5"/-->
	</root>
</log4j:configuration>
