treebase-core/target
treebase-core/.includepath
treebase-core/src/main/resources/jdbc.properties
treebase-notebook/target
treebase-web/target
treebase-web/src/main/resources/jdbc.properties
treebase-web/src/main/webapp/META-INF/context.xml
treebase-web/src/main/webapp/images/treebase.ai
treebase-web/src/main/webapp/images/treebase.psd
oai-pmh_data_provider/data_provider_web/target/
.idea
**/*.log
**/*.log.*

# Eclipse-specific files and folders
.settings/
.classpath
.project
.springBeans
