#### VG 2010-01-12 DB credentials that are used by the web application are now in JNDI -- see /treebase-web/src/main/webapp/META-INF/context.xml
#### The credentials below are only used by tests and, possibly, by data importing classes in cipres.teebase.util
#### (see treebase-core/src/main/java/org/cipres/treebase/core/CoreServiceLauncher.java)

jdbc.driverClassName=org.postgresql.Driver

# Login credentials, obtain the actual values from
# other developers (or create your own on a fresh install).
jdbc.url=jdbc:postgresql://YOUR.SERVER.ORG/YOUR-DB
jdbc.username=YOUR_USERNAME
jdbc.password=YOUT_PASSWORD


# This tells our object-relational mapping libraries
# to use postgres-specific SQL dialect
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# for development only:
hibernate.show_sql=false
hibernate.format_sql=true
hibernate.generate_statistics=false

# options are: validate | update | create | create-drop
hibernate.hbm2ddl.auto=

# Mesquite installation directory
mesquite.folder_dir=/home/rvosa/applications/mesquiteHeadless/Mesquite_Folder/
