# If needed, copy this to jdbc.properties and supply appropriate values. 

# As of 2010-04-29, jdbc.properties should only contain counterparts of JNDI parameters
# specified in /treebase-web/src/main/webapp/META-INF/context.xml or in the Tomcat installation. 
# jdbc.properties is not read by the web application; it is only used by locally-run tools 
# such as unit tests, data importers (in cipres.teebase.util) and data checkers. 

jdbc.driverClassName=org.postgresql.Driver

# Login credentials, obtain the actual values from
# other developers (or create your own on a fresh install).
jdbc.url=jdbc:postgresql://YOUR.SERVER.ORG/YOUR-DB
jdbc.username=YOUR_USERNAME
jdbc.password=YOUT_PASSWORD

# Mesquite installation directory
mesquite.folder_dir=/PATH/TO/YOUR/mesquite-2.01.tb
