<record> 
<header>
<identifier>${record.identifier}</identifier> 
<datestamp>$!record.datestamp</datestamp>
</header>
<metadata>
<oai_dc:dc 
	xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" 
	xmlns:dc="http://purl.org/dc/elements/1.1/" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ 
	http://www.openarchives.org/OAI/2.0/oai_dc.xsd">       
#if($record.title)
<dc:title>${record.title}</dc:title>
#end       
#if($record.creator)
#foreach ($person in $record.creator)
<dc:creator>${person.lastName}, ${person.firstName}</dc:creator>
#end 
#end     
## VG 2010-11-17  fixing SF:3079602 (multiple keywords into multiple <dc:subject> elements)
#*--
#if($record.subject)
<dc:subject>${record.subject}</dc:subject> 
#end 
*#
#if($record.subject)
#foreach ($keyword in $record.subject)
<dc:subject>${keyword}</dc:subject> 
#end
#end 
## end VG 2010-11-17 
#if($record.description)
<dc:description>${record.description}</dc:description>
#end 
#if($record.publisher)
<dc:publisher>${record.publisher}</dc:publisher> 
#end 
#if($record.contributor)
<dc:contributor>${record.contributor}</dc:contributor>        
#end 
#if($record.date)
<dc:date>${record.date}</dc:date>
#end 
#if($record.type)
<dc:type>${record.type}</dc:type>
#end 
#if($record.format)
<dc:format>${record.format}</dc:format>
#end 

#if($record.identifier)
<dc:identifier>${record.identifier}</dc:identifier>
#end 
			
#if($record.source)
<dc:source>{record.source}</dc:source>     
#end 
#if($record.language)
<dc:language>${record.language}</dc:language>
#end 
#if($record.relation)
<dc:relation>${record.relation}</dc:relation>
#end 
#if($record.coverage)
<dc:coverage>${record.coverage}</dc:coverage>
#end 
#if($record.rights)
<dc:rights>${record.rights}</dc:rights> 
#end             
</oai_dc:dc>
</metadata>
</record>
