<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>Treebase OAI-PMH Provider</display-name>
	
	<context-param>
 		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:applicationContext-dao.xml,
			classpath*:applicationContext-service.xml,
			/WEB-INF/applicationContext.xml,
			<!-- top is short for Treebase OAI-PMH Provider -->
			/WEB-INF/top-security.xml,
			/WEB-INF/cxf-servlet.xml,
			/WEB-INF/top-validation.xml
		</param-value>
 	</context-param>

    <!-- ========================================================== -->
	<!-- define the listener, one of the 3 ways to start spring    				                    -->
	<!-- ========================================================== -->
	<!-- listener initial the spring container while webapp start -->
	<listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>	
	<!-- extends customize and replaces ContextLoaderListener -->
	<!--listener>
		<listener-class>org.cipres.treebase.web.listeners.StartupListener</listener-class>
	</listener-->
	
	
	<!-- ========================================================== -->
	<!-- Name of our servlet processed by Spring's front controller -->
	<!-- DispatcherServlet                                          -->
	<!-- ========================================================== -->
	<servlet>
		<servlet-name>TOPServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
  	
  	<!-- ========================================================== -->
	<!-- Processed by CXFServlet -->                
	<!-- ========================================================== -->
  	<!--servlet>
    	<servlet-name>CXFServlet</servlet-name>
    	<servlet-class>
        	org.apache.cxf.transport.servlet.CXFServlet
    	</servlet-class>    
  	</servlet-->
  	
	

	<!-- ========================================================== -->
	<!-- url pattern that will be processed by DispatcherServlet    -->
	<!-- ========================================================== -->
	<servlet-mapping>
		<servlet-name>TOPServlet</servlet-name>
		<url-pattern>/top/*</url-pattern>
	</servlet-mapping>
  	
 	<!-- ========================================================== -->
	<!-- url pattern that will be processed by CXFServlet    -->
	<!-- ========================================================== --> 	
  	<!--servlet-mapping>
    	<servlet-name>CXFServlet</servlet-name>
    	<url-pattern>/services/*</url-pattern>
    </servlet-mapping-->
	
	

	<!-- ========================================================== -->
	<!-- define some default pages			                        -->
	<!-- ========================================================== -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- ========================================================== -->
	<!-- Error Pages											 	-->
	<!-- ========================================================== -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/uncaughtException.jsp</location>
	</error-page>
	<!--  Internal Server Error -->
	<error-page>
		<error-code>500</error-code>	
		<location>/error-500.jsp</location>
	</error-page>

</web-app>
