<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="no"
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
    http://www.directwebremoting.org/schema/spring-dwr  
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	
	<!-- ========================================================== -->
	<!-- oai-pmh-provider properties bean-->
	<!-- ========================================================== -->
	
	<bean id="top.propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
		<list>
		 	<value>/WEB-INF/identify.properties</value>			
		</list>
		</property>
	</bean>
	
	<bean id="top.identify" class="org.cipres.treebase.web.model.Identify">
		<property name="baseURL" value="${identify.baseURL}" />
		<property name="repositoryName" value="${identify.repositoryName}" />
		<property name="protocolVersion" value="${identify.protocolVersion}" />
		<property name="adminEmail" value="${identify.adminEmail}" />	
		<property name="earliestDatestamp" value="${identify.earliestDatestamp}" />
		<property name="deletedRecord" value="${identify.deletedRecord}" />
		<property name="granularity" value="${identify.granularity}" />	
		<property name="granularityPattern" value="${identify.granularityPattern}" />	
		<property name="repositoryIdentifier" value="${identify.repositoryIdentifier}" />	
		<property name="sampleIdentifier" value="${identify.sampleIdentifier}" />
		<property name="identifierDelimiter" value="${identify.identifierDelimiter}" />	
		<property name="dublinPerfix" value="${identify.dublinPerfix}" />	
		<property name="dryadPerfix" value="${identify.dryadPerfix}" />				
	</bean>
	
	<!-- ========================================================== -->
	<!-- LIST OF DWR beans/methods -->
	<!-- ========================================================== -->
	
	
	<bean id="remoteSoftwareNameService" class="org.cipres.treebase.dao.study.AnalysisStepDAO">
   		<dwr:remote javascript="RemoteSoftwareNameService">
      		<dwr:include method="findCompleteSoftwareName" />
   		</dwr:remote>
   		<property name="sessionFactory"><ref bean="sessionFactory"></ref></property>
	</bean>
	
	<bean id="remotePersonService" class="org.cipres.treebase.dao.admin.PersonDAO">
   		<dwr:remote javascript="RemotePersonService">
      		<dwr:include method="findCompleteEmailAddress" />
   		</dwr:remote>
   		<property name="sessionFactory"><ref bean="sessionFactory"></ref></property>
	</bean>

	<bean id="remoteJournalNameService" class="org.cipres.treebase.dao.study.CitationDAO">
   		<dwr:remote javascript="RemoteJournalNameService">
      		<dwr:include method="findCompleteJournalName" />
   		</dwr:remote>
   		<property name="sessionFactory"><ref bean="sessionFactory"></ref></property>
	</bean>
	
	<bean id="remoteUniqueOtherAlgorithmService" class="org.cipres.treebase.dao.study.AlgorithmDAO">
   		<dwr:remote javascript="RemoteUniqueOtherAlgorithmService">
      		<dwr:include method="findAllUniqueOtherAlgorithmDescriptions" />
   		</dwr:remote>
   		<property name="sessionFactory"><ref bean="sessionFactory"></ref></property>
	</bean>
	
	<bean id="remoteAjaxProgressListener" class="org.cipres.treebase.web.controllers.AjaxProgressListener">		
		<dwr:remote javascript="RemoteAjaxProgressListener">
			<dwr:include method="getStatus"/>
		</dwr:remote>
	</bean>
	<dwr:configuration>
		<dwr:convert type="bean" class="org.cipres.treebase.web.model.UploadInfoBean"/>
	</dwr:configuration>
 
</beans>
